
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/UserLayout.cshtml";
}
<link href="~/web/css/contact.css" rel='stylesheet' type='text/css' />

<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>


<body>

    <section class="main-content-w3layouts-agileits">

        <h3 class="tittle">Bize Ulaşın</h3>
        <p class="sub text-center">Fikirlerinize değer veriyoruz</p>
        <div style="width: 100%"><iframe width="100%" height="600" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=en&amp;q=Turkey%20Kocaeli%20G%C3%B6lc%C3%BCk+(My%20Business%20Name)&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"><a href="https://www.maps.ie/distance-area-calculator.html">area maps</a></iframe></div>
        <div class="ad-inf-sec bg-light">
            <div class="container">
                <div class="address row">

                    <div class="col-lg-4 address-grid">
                        <div class="row address-info">
                            <div class="col-md-4 address-left text-center">
                                <i class="far fa-map"></i>
                            </div>
                            <div class="col-md-8 address-right text-left">
                                <h6>Adres</h6>
                                <p>
                                     Şirinköy
                                </p>
                            </div>
                        </div>

                    </div>
                    <div class="col-lg-4 address-grid">
                        <div class="row address-info">
                            <div class="col-md-4 address-left text-center">
                                <i class="far fa-envelope"></i>
                            </div>
                            <div class="col-md-8 address-right text-left">
                                <h6>Email</h6>
                                <p>
                                    Email :
                                    <a href="mailto:example@email.com"> selcuk.yazici@example.com</a>

                                </p>
                            </div>

                        </div>
                    </div>
                    <div class="col-lg-4 address-grid">
                        <div class="row address-info">
                            <div class="col-md-4 address-left text-center">
                                <i class="fas fa-mobile-alt"></i>
                            </div>
                            <div class="col-md-8 address-right text-left">
                                <h6>Phone</h6>
                                <p>+90 551 111 8548</p>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="contact_grid_right">
                <form asp-action="Index" asp-controller="Contact" method="post">
                    <div class="row contact_left_grid">
                        <div class="col-md-6 con-left">
                            <div class="form-group">
                                <label for="validationCustom01 my-2">Adınız</label>
                                <input class="form-control" id="ContactUserName" type="text" name="ContactUserName" placeholder="" required="">
                            </div>
                            <div class="form-group">
                                <label for="exampleFormControlInput1">Email</label>
                                <input class="form-control" id="ContactMail" type="email" name="ContactMail" placeholder="" required="">
                            </div>
                            <div class="form-group">
                                <label for="validationCustom03 my-2">Subject</label>
                                <input class="form-control" id="ContactSubject" type="text" name="ContactSubject" placeholder="" required="">
                            </div>
                        </div>
                        <div class="col-md-6 con-right">
                            <div class="form-group">
                                <label for="textarea">Message</label>
                                <textarea placeholder="" id="ContactMessage" name="ContactMessage"></textarea>
                            </div>
                            <input class="form-control" type="submit" value="Submit">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
</body>
<script>


    //let datas = {
    //    ContactUserName: $("#ContactUserName").val(),
    //    ContactMail: $('#ContactMail').val(),
    //    ContactSubject: $('#ContactSubject').val(),
    //    ContactMessage: $('#ContactMessage').val(),
    //};


    //$.ajax({
    //    type: "Post",
    //    url: "/Contact/Index",
    //    data: datas,
    //    success: function (result) {
    //        if (result.Success) {
    //            Swal.fire({ icon: 'success', title: 'Kayıt Başarılı.', showConfirmButton: true, });

    //            setTimeout(function () {
    //                window.location.href = "/blog/index";
    //            }, 2000);
    //        }
</script>

