@using coreProject2.Controllers
@model List<Class1>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Ad Soyad</th>
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.ID</td>
            <td>@item.Name</td>
            <td><a href="/EmployeeTest/DeleteEmployee/@item.ID" class="btn btn-danger">Sil</a></td>
            <td><a href="/EmployeeTest/EditEmployee/@item.ID" class="btn btn-success">Güncelle</a></td>
        </tr>
    }
</table>
<a href="/EmployeeTest/AddEmployee/" class="btn btn-primary">Yeni Çalışan Girişi</a>
