<div class="tech-btm">
    <h4>Mail Bültenine Abone Olun</h4>
    <p>Teknoloji ve diğer bloglarımızdan haberdar olun</p>
    <form method="post">
        <input type="email" id="txtMail" placeholder="Email" required="" name="Mail">
        @*<input type="submit" value="Subscribe">*@
        <button type="submit" id="btn" class="btn btn-primary">Subscribe</button>
        <a href="#" onclick="confirmDelete()">Delete</a>

    </form>
</div>

<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script type="text/javascript">

   
</script>

