<div class="tech-btm">
    <h4>Mail Bültenine Abone Olun</h4>
    <p>Teknoloji ve diğer bloglarımızdan haberdar olun</p>
    <form asp-action="SubscribeMail" asp-controller="NewsLetter" method="post">
        <input type="email" placeholder="Email" required="" name="Mail">
        @*<input type="submit" value="Subscribe">*@
        <button type="submit" class="btn btn-primary">Subscribe</button>
    </form>
</div>