<div class="header_top" id="home">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <button class="navbar-toggler navbar-toggler-right mx-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/home/index">
                        Anasayfa
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about/index">Hakkımızda</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/blog/index">Bloglar</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contact/index">İletişim</a>
                </li>
            </ul>

            @*<div class="row">
                    <div class="col-sm-12">
                        <div class="form-inline fa-pull-right">
                            <label>Search</label>
                            <input type="text" class="form-control" id="txtSearch" />
                        </div>
                    </div>
                    <div id="grdUsers"></div>
                </div>*@

            <form asp-action="SearchBlog" asp-controller="Blog" method="get" class="form-inline my-2 my-lg-0 header-search">
                <input class="form-control mr-sm-2" type="search" placeholder="Aranacak kelime..." name="searchText" id="searchText" required="">
                <button class="btn btn1 my-2 my-sm-0" type="submit">
                    <i class="fas fa-search"></i>
                </button>
            </form>



        </div>
    </nav>
</div>
@*<script>
        function getUsers() {
            $.ajax({
                dataType: 'html',
                method: 'GET',
                url: '@Url.Action("Index","Blog")',

                data: { searchText: $('#txtSearch').val },
                success: function (res) {
                    $('#grdUsers').html('').html(res)
                },
                error: function (err) {
                    console.log(err);
                }
            })
        }
        $(() => {
            getUsers();
            $('#txtSearch').on('keyup', () => {
                getUsers();
            })
        });


    </script>*@
