
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Yazar Ajax İşlemleri</h1>
<br />
<button type="button" id="btnGetList" class="btn btn-outline-primary">Yazar Listesi</button>
<br />
<br />
<div id="writerList">
    Buraya yazarlar gelecek
</div>
@section scripts{
    <script>
        $("#btnGetList").click(function () {
            $.ajax({
                contentType: "application/json",
                dataType: "json",
                type: "Get",
                url: "/Admin/Writer/WriterList/",
                success: function (func) {
                    let writer = jQuery.parseJSON(func);
                    console.log(writer);
                    let table = "<table class=table table-bordered><tr><th> Yazar ID</th> <th>Yazar Adı</th></tr>";
                    $.each(writer, (index, value) => {
                        table += `<tr><td>${value.Id}</td><td>${value.Name}</td></tr>`
                    });
                    table += "</table>";
                    $("#writerList").html(table);
                }
            });
        });
    </script>
}