
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Yazar Ajax İşlemleri</h1>
<br />
<button type="button" id="btnGetList" class="btn btn-outline-primary">Yazar Listesi</button>
<button type="button" id="btnGetWriter" class="btn btn-outline-success">Yazar Getir</button>
<button type="button" id="btnAddWriter" class="btn btn-outline-info">Yazar Ekle</button>
<button type="button" id="btnDeleteWriter" class="btn btn-outline-info">Yazar Sil</button>
<br />
<br />
<div id="writerList">
    Buraya yazarlar gelecek
</div>
<br />
<div id="getWriter">
    Buraya 1 yazar gelecek
</div>
<div>
    <input type="text" id="writerid" placeholder="Yazar ID değeri girin" class="form-control" />
</div>
<br />
<div>
    <input type="text" class="form-control" id="txtWriterId" placeholder="Yazar ID" />
    <input type="text" class="form-control" id="txtWriterName" placeholder="Yazar Adı" />
    <br />
</div>

<div>
    <input type="text" class="form-control" id="asdef" placeholder="Silinecek Yazar ID" />
</div>


@section scripts{
    <script>
        $("#btnGetList").click(function () {
            $.ajax({
                contentType: "application/json",
                dataType: "json",
                type: "Get",
                url: "/Admin/Writer/WriterList/",
                success: function (func) {
                    let writer = jQuery.parseJSON(func);
                    console.log(writer);
                    let table = "<table class=table table-bordered><tr><th> Yazar ID</th> <th>Yazar Adı</th></tr>";
                    $.each(writer, (index, value) => {
                        table += `<tr><td>${value.Id}</td><td>${value.Name}</td></tr>`
                    });
                    table += "</table>";
                    $("#writerList").html(table);
                }
            });
        });



        $("#btnGetWriter").click(x => {
            let id = $("#writerid").val();
            $.ajax({
                contentType: "application/json",
                dataType: "json",
                type: "get",
                url: "/Admin/Writer/GetWriterById/",
                data: { writerid: id },
                success: function (func) {
                    let w = jQuery.parseJSON(func)
                    console.log(w);

                    let leo = `<table class=table table-bordered>
                                <tr>
                                <th>Yazar ID </th>
                                <th>Yazar Adı</th>
                                </tr>
                                <tr>
                                <td>${w.Id}</td>
                                <td>${w.Name}</td>
                                </tr>
                                </table>`;
                    $("#getWriter").html(leo);
                }
            })
        })


        $("#btnAddWriter").click(function () {
            let writer = {
                Id: $("#txtWriterId").val(),
                Name: $("#txtWriterName").val()
            };
            $.ajax({
                type: "post",
                url: "/Admin/Writer/WriterAdd/",
                data: writer,
                success: function (func) {
                    let result = jQuery.parseJSON(func);
                    alert("Yazar ekleme işlemi başarılı şekilde gerçekleştirildi");
                }
            })
        })


        $("#btnDeleteWriter").click(x => {
            let id = $("#asdef").val();
            $.ajax({
                url: "/Admin/Writer/WriterDelete/"+id,
                type: "post",
                dataType: "json",
                success: function (func) {
                    alert("Yazar silme işlemi başarılı şekilde gerçekleştirildi");
                }
            });
        });

    </script>
}